/* Stylesheet für Selfhtml Design 03
  responsives Layout mit Grid Layout ab Z. 210   */

/* ====================================================   GLOBAL DEFINITION   ==================================================== */

/* alternatives Boxmodell */
html {
    box-sizing: border-box;
    background: #d5d5d5 url("background2.jpg") scroll;

}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    max-width: 75em;
    margin:0 auto;
    padding: 0;
    background: #fff;
    color: #333;
    font: normal 1em Arial, sans-serif;  /* Mindestschriftgröße wird dem Browser, bzw. dem Nutzer überlassen! */

}



/* ====================================================   HEADER   ==================================================== */

header {
    position: relative;
    height: 210px;
    margin: 2em  0  0 3em;
    background: #777 url("background.jpg") no-repeat right;
    background-size: contain;
    padding: 0 0 0.5em;
}

header a h1,
header a p {			/*Die Angaben für h1 müssen mit einem genauen Selektor überschrieben werden. */
    color: white;
    border-left: 0;
    padding: 0;
    display: table;		/* Überschriften und Absätze sind sonst immer 100% breit, durch display:table und display: inline-block; für das Elternelement a.ribbon wird das Banner nur so breit wie nötig. */
}

.ribbon {
    display: inline-block;
    position: relative;
    margin: 2em 0 2em -1.5em;
    padding: 0.5em 1em;
    background: #4e7a92;
    box-shadow: 0px 1px 3px rgba(0,0,0,.8);
}

.ribbon::before{
    display: block;
    width: 1.5em;
    height: 0;
    position: absolute;
    bottom: -1.5em;
    left: 0em;
    content: "";
    border-bottom: 1.5em solid transparent;
    border-right: 1.5em solid rgb(0, 80, 116);
}

/** CONTENT **/

main {
    margin: 0 0 1em;
    padding: 1em;
    background: #fff;
}

h1,
h2 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 1em;
    color: #666;
    text-transform: uppercase;
    border-left:5px solid #4e68AD;
}

h2 span {
    font-size: 0.70em;
    color: #818181;
    text-transform: none;
}

h3	{
    font-size: 1.25em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    color: #4E68AD;
}

p {
    text-align: left;
    line-height: 1.6em;
    padding: 20px 0px
}

a 	{
    color: #4e7a92;
    outline: none;
    text-decoration: none;
}
a:hover, 			/* Durch Maus oder Tastatur angewählte Verweise werden sichtbar gemacht */
a:focus {
    color: white;
    text-decoration: none;
    background-color: #4e7a92;
}

a.more	{
    float: right;
    font-weight: bold;
}

a.more:after{
    content:" \2192 ";
    font-size:1.2em;
    font-weight:bold;
}

ul.square {
    list-style-type:square;
    color: #999999;
    margin: 0 0 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
}

ul.square li{
    padding:10px;
}

/*DL, DT, DD Datenliste*/
dl.grid {
    display: grid;
    grid-template-columns: 1fr 100%;
}
dd {
    margin: 0;
    padding-left: 1em;
}

dd span:first-child {
    display: inline-block;
    width: 4em;
}

dl.grid dd {
    margin-bottom: 1em;
}

a[href^="tel"] { white-space: nowrap; }

ul#footer-nav li {
    list-style-type: none;
    displaY: inline;
    padding: 0 0.5em;
    border-right: 1px  solid #ACACAC;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
}

ul#footer-nav  li:last-child {
    border: none;
}

ul#footer-nav img {
    width: 1.5em;
}

ul#footer-nav a:hover,
ul#footer-nav a:focus,
ul#footer-nav a:active {
    background: white;
}

footer p {
    text-align: right;
}

/** Navigation **/

nav#navigation{
}

#navigation ul {
    list-style-type: none;
    width: 100%;
    margin-bottom:30px;
}

#navigation ul li.first-child	{ border-top: 1px #DBDBDB solid; }


#navigation ul li a {
    display: block;
    border-bottom: 1px solid #4e7a92;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1em 35px;
    text-decoration: none;
    width: 16em;
}

#navigation ul li a:before{
    content:" ";
    display:inline-block;
    width:1em;
    height:1em;
    border-left:5px solid #4e7a92;;
}

nav a[aria-current=page]{
    background: #aaa;
}



/* ========== repsonsives Grid-Layout ========== */

/* mobile first - auf schmalen Bildschirmen wird alles untereinander platziert. */

/* ab einer Breite von 30em haben zwei Spalten nebeneinander Platz: */

@media (min-width: 30em) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .topnav {
        /*grid-column : 1 / 2;*/
        grid-row : 1 / 2;
    }

    nav {
        grid-column: 1 / 2;
    }

    #intro {
        grid-column: 2 / 3;
        grid-row:    1 / 2;
    }

    article {
        grid-column: 2 / 3;
    }

    .spalte img {
        width: 50%;
        float: left;
        margin-right: 0.5em;
    }
}



@media (min-width: 50em) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        grid-row: 1 / 4;
    }

    #intro {
        grid-column: 2 / 4;
        grid-row:    1 / 2;
    }

    article {
        grid-column: 2 / 4;
    }

    aside {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .spalte {
        grid-row:    2 / 3;
    }

    .spalte img {
        width: 33%;
    }

    .video {
        grid-row: 3;
        grid-column: 2/4;
    }

    .kontakt{
        grid-row: 4 / 5;
        grid-column: 1/ 3;
        margin-left: 15%;
    }

    .contact-info{
        grid-row: 4/5;
        grid-column: 3;
    }
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar*/
.topnav input[type=text] {
    padding: 6px;
    border: 1px;
    margin-right: 16px;
    font-size: 17px;
    width: 20%;
    background: #f1f1f1;
}

/* Style the submit button */
.topnav button {
    width: 5%;
    padding: 6px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid grey;
    border: none; /* Prevent double borders */
    cursor: pointer;
}

.topnav button:hover {
    background: #0b7dda;
}

/* Clear floats */
.topnav::after {
    content: "";
    clear: both;
    display: table;
}

.topnav input[type=text]:focus {
    border-bottom: 3px solid #555;

}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.styled-table {
    border-collapse: collapse;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#ft-form {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15
}
#ft-form *,
#ft-form ::after,
#ft-form ::before {
    box-sizing: border-box
}
#ft-form input,
#ft-form select,
#ft-form textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
#ft-form select {
    text-transform: none
}
#ft-form [type=submit] {
    -webkit-appearance: button
}
#ft-form legend {
    padding: 0
}
#ft-form h2,
#ft-form p {
    margin: 0
}
#ft-form fieldset {
    margin: 0;
    padding: 0
}
#ft-form html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5
}
#ft-form body {
    font-family: inherit;
    line-height: inherit
}
#ft-form *,
#ft-form ::after,
#ft-form ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}
#ft-form textarea {
    resize: vertical
}
#ft-form input::-moz-placeholder,
#ft-form textarea::-moz-placeholder {
    color: #9ca3af
}
#ft-form input:-ms-input-placeholder,
#ft-form textarea:-ms-input-placeholder {
    color: #9ca3af
}
#ft-form input::placeholder,
#ft-form textarea::placeholder {
    color: #9ca3af
}
#ft-form h2 {
    font-size: inherit;
    font-weight: inherit
}
#ft-form input,
#ft-form select,
#ft-form textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}
#ft-form [type=date],
#ft-form [type=email],
#ft-form [type=tel],
#ft-form [type=text],
#ft-form select,
#ft-form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
}
#ft-form [type=date]:focus,
#ft-form [type=email]:focus,
#ft-form [type=tel]:focus,
#ft-form [type=text]:focus,
#ft-form select:focus,
#ft-form textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
}
#ft-form input::-moz-placeholder,
#ft-form textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}
#ft-form input:-ms-input-placeholder,
#ft-form textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
}
#ft-form input::placeholder,
#ft-form textarea::placeholder {
    color: #6b7280;
    opacity: 1
}
#ft-form select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}
#ft-form [type=checkbox],
#ft-form [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px
}
#ft-form [type=checkbox] {
    border-radius: 0
}
#ft-form [type=radio] {
    border-radius: 100%
}
#ft-form [type=checkbox]:focus,
#ft-form [type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
}
#ft-form [type=checkbox]:checked,
#ft-form [type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}
#ft-form [type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
}
#ft-form [type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}
#ft-form [type=checkbox]:checked:focus,
#ft-form [type=checkbox]:checked:hover,
#ft-form [type=radio]:checked:focus,
#ft-form [type=radio]:checked:hover {
    border-color: transparent;
    background-color: currentColor
}
#ft-form [type=checkbox]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}
#ft-form [type=checkbox]:indeterminate:focus,
#ft-form [type=checkbox]:indeterminate:hover {
    border-color: transparent;
    background-color: currentColor
}
#ft-form [type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}
#ft-form [type=file]:focus {
    outline: 1px auto -webkit-focus-ring-color
}
#ft-form fieldset {
    font-size: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem
}
#ft-form fieldset:first-child {
    margin-top: 0
}
#ft-form fieldset > * {
    display: block;
    margin-bottom: 1.5rem
}
#ft-form fieldset > :last-child {
    margin-bottom: 0
}
#ft-form fieldset > .two-cols > * {
    display: block;
    margin-bottom: 1.5rem
}
#ft-form fieldset > .two-cols > :last-child {
    margin-bottom: 0
}
@media only screen and (min-width:640px) {
    #ft-form fieldset > .two-cols {
        display: flex;
        align-items: flex-end
    }
    #ft-form fieldset > .two-cols > * {
        display: block;
        margin-right: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        flex: 1
    }
    #ft-form fieldset > .two-cols > :last-child {
        margin-right: 0
    }
}
#ft-form fieldset div > label {
    display: inline-flex;
    align-items: flex-start;
    margin-top: .5rem;
    width: 100%
}
#ft-form fieldset div > label:last-child {
    margin: .5rem 0 0 0
}
#ft-form fieldset div.inline {
    padding: .55rem 0 0;
    width: 100%
}
#ft-form fieldset div.inline > label {
    width: auto;
    margin-right: .5rem
}
#ft-form fieldset div.inline > label:last-child {
    margin-right: 0
}
#ft-form fieldset > .two-cols div.inline {
    padding: .55rem 0
}
#ft-form fieldset > legend {
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 1rem
}
#ft-form fieldset > p {
    margin: 0
}
#ft-form [type=file] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
}
#ft-form [type=file]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199,210,254,.5), 0 0 #0000;
    border-color: #2563eb
}
#ft-form [multiple],
#ft-form [type=date],
#ft-form [type=datetime-local],
#ft-form [type=email],
#ft-form [type=file],
#ft-form [type=month],
#ft-form [type=number],
#ft-form [type=password],
#ft-form [type=search],
#ft-form [type=tel],
#ft-form [type=text],
#ft-form [type=time],
#ft-form [type=url],
#ft-form [type=week],
#ft-form select,
#ft-form textarea {
    border-radius: .375rem;
    margin-top: .25rem;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    border-color: #bbb;
    width: 100%
}
#ft-form [multiple] select,
#ft-form [type=date] select,
#ft-form [type=datetime-local] select,
#ft-form [type=email] select,
#ft-form [type=file] select,
#ft-form [type=month] select,
#ft-form [type=number] select,
#ft-form [type=password] select,
#ft-form [type=search] select,
#ft-form [type=tel] select,
#ft-form [type=text] select,
#ft-form [type=time] select,
#ft-form [type=url] select,
#ft-form [type=week] select,
#ft-form select select,
#ft-form textarea select {
    padding-right: 2.5rem
}
#ft-form [multiple]:focus,
#ft-form [type=date]:focus,
#ft-form [type=datetime-local]:focus,
#ft-form [type=email]:focus,
#ft-form [type=file]:focus,
#ft-form [type=month]:focus,
#ft-form [type=number]:focus,
#ft-form [type=password]:focus,
#ft-form [type=search]:focus,
#ft-form [type=tel]:focus,
#ft-form [type=text]:focus,
#ft-form [type=time]:focus,
#ft-form [type=url]:focus,
#ft-form [type=week]:focus,
#ft-form select:focus,
#ft-form textarea:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
}
#ft-form [type=checkbox],
#ft-form [type=radio] {
    color: #4f46e5;
    box-shadow: none;
    border-radius: .25rem;
    border-color: #bbb;
    margin-right: .5rem
}
#ft-form [type=checkbox]:focus,
#ft-form [type=radio]:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff,0 0 0 3px rgba(199,210,254,.5),0 0 #0000
}
#ft-form [type=radio] {
    border-radius: 100%
}
#ft-form .btns {
    text-align: right;
    margin-top: 3rem
}
#ft-form .btns > input[type=button],
#ft-form .btns > input[type=reset],
#ft-form .btns > input[type=submit] {
    display: inline-block;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-radius: .375rem;
    border-color: #bbb;
    background-color: #fff;
    cursor: pointer;
    margin-left: .5rem;
    font-weight: 700
}
#ft-form .btns > input[type=button]:focus,
#ft-form .btns > input[type=reset]:focus,
#ft-form .btns > input[type=submit]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #bbb;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px rgba(199,210,254,.5),0 0 #0000
}
#ft-form .btns > input[type=submit] {
    background-color: #f3f4f5;
    transition: background-color .1s
}
#ft-form .btns > input[type=submit]:hover {
    background-color: #f8f9fa
}

